@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;600&display=swap');

/* If not desktop browser */
@media not (pointer: fine) {
  #if-not-desktop {
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  #if-not-desktop>p {
    color: yellow;
    font-size: 45px;
  }

  #game-container {
    opacity: 0;
  }

  #start-button-container {
    opacity: 0;
  }

  #start-modal {
    position: relative;
    top: -350px;
  }
}

/* Hide message if on desktop browser */

@media (pointer: fine) {
  #if-not-desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  #if-not-desktop>p {
    font-size: 0px;
  }
}

body {
  background-image: url("../media/sw_bg_big.png");
  background-size: contain;
  z-index: -1;
  font-family: 'Noto Sans Display', sans-serif;
  overflow: hidden;
}

/* Hide start button and timer for DOM load */

#start-button {
  opacity: 0;
}

#timer {
  opacity: 0;
}

/* Title styling */

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 30px;
}

.title-container img {
  max-width: 100%;
  height: auto;
}

/* Start modal */

.start-cloak {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: center;
}

.tick-button {
  padding: 5px, 10px;
  background-color: #bfa300;
  border: 2px solid #636363;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}


.start-view {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  height: 100%;
}

.start-screen {
  background-image: linear-gradient(#bbbbbb, #636363);
  box-shadow: 1px 0px 0px #e7b43c, 0px 1px 0px #e7b43c,
    2px 1px 0px #e7b43c, 1px 2px 0px #e7b43c,
    3px 2px 0px #976f00, 2px 3px 0px #976f00,
    4px 3px 0px #705200, 3px 4px 0px #705200,
    5px 4px 0px #705200, 4px 5px 0px #705200,
    6px 5px 0px #755600, 5px 6px 0px #755600,
    7px 6px 0px #755600, 6px 7px 0px #755600,
    8px 7px 0px #463301, 7px 8px 0px #463301;
  border-radius: 50px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  height: 525px;
  width: 700px;
  margin: 0 auto;
}

.start-modal-sticker {
  width: 30px;
  height: 30px;
  padding-left: 2px;
}

/* gameOver modal */

.game-over-modal {
  display: none;
  position: fixed;
  top: 25%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.game-over-modal-content {
  background-image: linear-gradient(#bbbbbb, #636363);
  border-radius: 10%;
  padding: 20px;
  max-width: 550px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

.game-over-screen {
  background-image: linear-gradient(#bbbbbb, #636363);
  box-shadow: 1px 0px 0px #e7b43c, 0px 1px 0px #e7b43c,
    2px 1px 0px #e7b43c, 1px 2px 0px #e7b43c,
    3px 2px 0px #976f00, 2px 3px 0px #976f00,
    4px 3px 0px #705200, 3px 4px 0px #705200,
    5px 4px 0px #705200, 4px 5px 0px #705200,
    6px 5px 0px #755600, 5px 6px 0px #755600,
    7px 6px 0px #755600, 6px 7px 0px #755600,
    8px 7px 0px #463301, 7px 8px 0px #463301;
  border-radius: 50px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  height: 460px;
  width: 700px;
  margin: 0 auto;
}

.restart-button {
 padding: 5px, 10px;
  background-color: #bfa300;
  border: 2px solid #636363;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.gif-img {
  margin-bottom: 30px;
}

/* Life point container */

#lifeContainer {
  display: flex;
  align-items: center;
}

.lives {
  position: absolute;
  top: 100px;
  right: 200px;
  padding: 10px 15px;
  border-radius: 20px;
}

.life-icon {
  width: 60px;
  height: 42px;
  background-image: url('../media/grougu_lives_2_55x40.png');
  background-size: cover;
  margin-right: 10px;
}

/* Points */

#pointContainer {
  margin-top: 10px;
  position: absolute;
  top: 100px;
  left: 200px;
  font-size: 40px;
  color: #bfa300;
}

#pointsCount {
  font-weight: bold;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(to bottom, #fcd477, #976f00) 30 30;
  background-image: url("../media/game_bg.png");
  background-size: cover;
}

#game-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* set semi-transparent black color */
}

#game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* Timer */

.timer {
  position: absolute;
  top: 100px;
  right: 550px;
  display: inline-block;
  padding: 10px 15px;
  background-color: #666666;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #ddb548, #755600);
}

.start-button {
  display: flex;
  justify-content: center;
  bottom: 100px;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 50px;
  padding: 5px 10px;
  background-color: #666666;
  border-radius: 20px;
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Noto Sans Display', sans-serif;
  text-shadow: 1px 1px 2px #f2f2f2;
  background-image: linear-gradient(to bottom, #ddb548, #755600);
}

#start-button-container {
  width: 100%;
}

.start-button:hover {
  background-image: linear-gradient(to bottom, #fff2b9, #bfa300);
}

.start-button:active {
  background-image: linear-gradient(to bottom, #e6b800, #8c6e00);
}

.digits {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Noto Sans Display', sans-serif;
  text-shadow: 1px 1px 2px #f2f2f2;
}

/* Footer Styling */

footer {
  position: fixed;
  bottom: 0;
}

#footer-left {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  border-top: 20px solid black;
  border-bottom: 15px solid black;
  margin: 0;
  background-color: black;
}

#footer-right {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  right: 0;
  border-top: 20px solid black;
  border-bottom: 15px solid black;
  margin: 0;
  background-color: black;
}


footer>ul>li {
  list-style: none;
  color: yellow;
  padding-left: 5px;
  padding-right: 5px;
}

footer>ul>li>a {
  text-decoration: none;
  color: white;
}

/* Audio Switch */

/* The sound container positioning */

#sound-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

#sound-text {
  color: yellow;
  width: 80px;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;
  margin-bottom: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2.5px;
  background-color: #636363;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: yellow;
}

input:focus+.slider {
  box-shadow: 0 0 1px yellow;
}

input:checked+.slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}